.item {
  width: 100%;
  position: relative;
  height: 6rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-top: 1px solid var(--col-light);
  border-bottom: 1px solid var(--col-light);
  overflow: hidden;

  h1 {
    color: var(--col-light);
    opacity: 0.3;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 2vw, 1rem);
  }
}

.car {
  position: relative;
  z-index: 2;
  display: inline-block;
}

